@using Class55_Homework.Models
@using Class55_Homework.Data
@model ImageLinkModelView

<div class="row">
    <div class="col-md-12">
        <h2>Thank you for uploading your image, here's the link to share with your friends:</h2>
        <br />
        <h3><a href="@Model.ImageLink">@Model.ImageLink</a></h3>
    </div>
</div>
